<div class="container">
    <img id="handLogo" src="/assets/images/Hand Logo.png" alt="Logo">
    <p id="text">Create an account here</p>
    <input id="inputEmail" placeholder="Email" required>
    <input id="inputPassword" placeholder="Password" required>
    <button id="btnCreateAccount" onclick="console.log('Create account')">Create account</button>
    <a style = "margin: 10px; font-weight: bold;" href="http://localhost:4200/login">Cancel</a>
    <p id="smallText">By clicking "Create account" you agree to the AppointMe TOS and Privacy Policy.</p>
</div>


<div id="footer">
    <span id= "footerLeft">appointmesupport&#64;gmail.com</span>
    <span id= "footerMiddle" >+436601234554</span>
    <span id= "footerRight">www.appointme.com</span>
</div>