<div class="container">
  <div class="header">
      <a href="http://localhost:4200/dashboard">
        <img id="handLogo" src="/assets/images/Hand Logo.png" alt="Logo">
      </a>
      <input id="searchbar" type="text" placeholder="Search">
      <div class="textLogo">
        <span class="textBold">Calen</span>
        <span class="textItalic">dar</span>
      </div>
    </div>
    <div class="main">
      <div class="sidebar">
        <a href="http://localhost:4200/chat">
          <img id="chatIcon" src="/assets/images/Chat.png" alt="ChatIcon">
        </a>
        <a href="http://localhost:4200/calendar">
          <img id="calendarIcon" src="/assets/images/Calendar.png" alt="CalendarIcon">
        </a>
        <a href="http://localhost:4200/contacts">
          <img id="contactsIcon" src="/assets/images/Contacts.png" alt="ContactsIcon">
        </a>
        <a href="http://localhost:4200/settings">
          <img id="settingsIcon" src="/assets/images/Settings.png" alt="SettingsIcon">
        </a>
      </div>
      <div class="calendar">
        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
    </div>
  </div>
  