<div *ngFor="let business of businessService.list">
    <p style="font-weight: bold; color: aqua;">GetAllBusinesses</p>
    <p style="font-weight: bold;">id: </p>
    <p>{{business.Id}}</p>
    <p style="font-weight: bold;">UserName: </p>
    <p>{{business.UserName}}</p>
    <p style="font-weight: bold;">Email Address: </p>
    <p>{{business.E_Mail_Address}}</p>
    <p style="font-weight: bold;">Password</p>
    <p>{{business.Password}}</p>
</div>

<div *ngFor="let customer of customerService.list">
    <p style="font-weight: bold; color: aqua;">GetAllCustomers</p>
    <p style="font-weight: bold;">id: </p>
    <p>{{customer.id}}</p>
    <p style="font-weight: bold;">LastName: </p>
    <p>{{customer.lastName}}</p>
    <p style="font-weight: bold;">Email Address: </p>
    <p>{{customer.e_Mail_Address}}</p>
    <p style="font-weight: bold;">Phone Number</p>
    <p>{{customer.phoneNumber}}</p>
</div>

