/* You can add global styles to this file, and also import other style files */
/* Loading in Font */
@font-face {
    font-family: Int;
    src: url(/assets/Inter/Inter-VariableFont_slnt,wght.ttf);
  }

@font-face {
    font-family: Int ExtraBold;
    src: url(/assets/Inter/static/Inter-ExtraBold.ttf);
  }

@font-face {
    font-family: Int ExtraLight;
    src: url(/assets/Inter/static/Inter-ExtraLight.ttf);
  }  
  
  /* General styling */
html, body {
    background-color: #EAE0D4;
    margin: 0;  
    padding: 0;
    font-family: Int;
    color: #222222;
}

#signInTo{
    margin: 40px; 
    font-weight: bolder; 
    font-size: 30px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --fc-border-color: #222222;
  --fc-button-border-color: #222222;
  --fc-event-border-color: #000;
  --fc-button-bg-color: #222222;
  --fc-event-bg-color: #424242;
  --fc-small-font-size: 1em;
  --fc-today-bg-color: #b0b0b0;
}

.fc table {
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 1.1em;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


