<div class="container">
    <img id="handLogo" src="/assets/images/Hand Logo.png" alt="Logo">
    <p id="text">Enter your email to reset password</p>
    <input id="inputEmail" placeholder="Email" required>
    <button id="btnResetPassword" onclick="console.log('Reset Password')">Reset password</button>
    <a style = "margin: 20px; font-weight: bold;" href="http://localhost:4200/login">Cancel</a>
</div>


<div id="footer">
    <span id= "footerLeft">appointmesupport&#64;gmail.com</span>
    <span id= "footerMiddle" >+436601234554</span>
    <span id= "footerRight">www.appointme.com</span>
</div>