<div class="window">
  <div class="dialog-header">
    <h2 mat-dialog-title>{{ data.isEdit ? 'Edit Event' : 'New Event' }}</h2>
  </div>
  <div class="dialongContect" mat-dialog-content>
    <div class="title">
      <mat-form-field appearance="fill">
        <mat-label>Add Title</mat-label>
        <input matInput [(ngModel)]="data.title" name="title">
      </mat-form-field>
    </div>

    <div class="description">
      <mat-form-field appearance="fill">
        <mat-label>Add a Description</mat-label>
        <textarea matInput [(ngModel)]="data.description" name="description"></textarea>
      </mat-form-field>
    </div>

    <div class="customerId">
      <mat-form-field appearance="fill">
        <mat-label>Customer Id</mat-label>
        <input matInput [(ngModel)]="data.customerId" name="customerId">
      </mat-form-field>
    </div>

    <mat-checkbox [(ngModel)]="data.allDay" name="allDay">All Day</mat-checkbox>

    <div class="dateTimeFields">
      <div class="start">
        <mat-form-field appearance="fill">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="data.startDate" name="startDate" [disabled]="data.allDay">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Start Time</mat-label>
          <input matInput placeholder="16:00" [(ngModel)]="data.startTime" name="startTime" [disabled]="data.allDay">
        </mat-form-field>
      </div>

      <div class="end">
        <mat-form-field appearance="fill">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="data.endDate" name="endDate" [disabled]="data.allDay">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>End Time</mat-label>
          <input matInput placeholder="16:00" [(ngModel)]="data.endTime" name="endTime" [disabled]="data.allDay">
        </mat-form-field>
      </div>
    </div>

  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="{ delete: true }" *ngIf="data.isEdit">Delete</button>
    <button mat-button (click)="onSubmit()">{{ data.isEdit ? 'Save' : 'Add' }}</button>
  </div>
</div>
