::ng-deep .mat-dialog-container {
    background-color: #f5f5f5; /* Light grey background for the dialog */
    border-radius: 8px; /* Optional: for rounded corners */
  }
  
  .event-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .date-time-fields {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  
  .date-time-fields.disabled input {
    background-color: #e0e0e0; /* Light grey background for disabled inputs */
    cursor: not-allowed;
  }
  
  mat-checkbox {
    margin-bottom: 16px;
  }
  
  mat-dialog-content {
    padding: 24px; /* Adjust padding as needed */
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: center;
    padding: 16px;
  }
  
  button {
    margin: 0 8px;
  }
  
