
.window {
  color: #222222;
  text-align: center;
  background-color: #EAE0D4;
  height: 100%;
  overflow: hidden;
}

.dialongContect {
  background-color: #EAE0D4;
}

.title{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.description, .customerId, .start, .end{
  margin-left: 20px;
  margin-right: 20px;
}

.date-time-fields {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.date-time-fields.disabled input {
  background-color: #e0e0e0; /* Light grey background for disabled inputs */
  cursor: not-allowed;
}


button {
  margin: 0 8px;
}
mat-form-field {
  width: 100%;

  mat-label {
    font-size: 14px; /* Adjust this value to make the label smaller */
  }

  .mat-form-field-label {
    font-size: 14px; /* Ensures consistency if label is floating */
  }
}

