<span style="float: left; margin: 40px; font-weight: bolder; font-size: 20px;">EASY</span>
<span style="float: right;  margin: 40px; font-weight: bolder; font-size: 20px">BOOKING</span>


<div class="loginForm">
    <span style="margin-top: 40px; font-weight: bolder; font-size: 50px;">Sign in to</span>
    <div id="logo">
        <img id="handLogo" src="/assets/images/Hand Logo.png" alt="Logo">
        <span style="font-family: Int ExtraBold; font-size: 110px; margin-left: 10px; margin-top: 40px; margin-bottom: 40px;">Appoint</span>
        <span style="font-family: Int ExtraLight; font-style: italic; font-size: 110px; margin-top: 40px;">Me</span>
    </div>
    

    <input id="inputUsername" placeholder="Username" required>
    <input id="inputPassword" placeholder="Password" required>
    <button id="btnLogin" onclick="console.log('test')">Login</button>


    <a style = "margin: 20px; font-weight: bold;" href="#">Reset password</a>
    <a style = "font-weight: bold;" href="#">No Account? Create one here!</a>
</div>

<div id="footer">
    <span id= "footerLeft">appointmesupport&#64;gmail.com</span>
    <span id= "footerMiddle" >+436601234554</span>
    <span id= "footerRight">www.appointme.com</span>
</div>
